.vscode/
venv/
Screenshot from 2021-01-29 15-32-11.png
Screenshot from 2021-02-02 18-58-06.png
anon.session
anon.session-journal
username.session
username.session-journal
log __main__ chipstracker.log
traker.log
__pycache__/
